<%- include('partials/header')  -%>
<div id="tabs-with-content">
    <div class="tabs is-centered is-boxed">
        <ul>
            <li><a>Система</a></li>
            <li><a>LVL 1</a></li>
            <li><a>LVL 2</a></li>
            <li><a>LVL 3</a></li>
            <li><a>Законодательство</a></li>
        </ul>
    </div>
    <div>
        <section class="tab-content">
            <div class="container">
                <section class="articles">
                    <div class="column is-8 is-offset-2">
                        <div class="card article">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content has-text-centered">
                                        <p class="title article-title">Система прохождения академий</p>
                                    </div>
                                </div>
                                <div class="content article-body">
                                    <p>Приветствую тебя, в данном разделе ты увидишь список экзаменов, необходимых для получения 4 порядкового звания.
                                        На сдачу всех экзаменов у вас есть 3 рабочих дня.
                                        Сдача всех экзаменов осуществляется сотрудникам <span class="sherriff-academy">@Sheriff Academy</span>.</p>
                                    <h3 class="has-text-centered">Повышение с <span class="cadet-pa">@Кадет ПА</span> до <span class="officer1">@Офицер I приоритета</span></h3>
                                    <ol>
                                        <li>Сдать экзамен по LVL 1</li>
                                        <li>Заполнить отчёт на повышение</li>
                                    </ol>
                                    <h2 class="title has-text-centered">СИСТЕМА ПОВЫШЕНИЯ <span class="trainee-department">@Trainee Department</span></h2>
                                    <h3 class="has-text-centered">Повышение с <span class="officer1">@Офицер I приоритета</span> до <span class="officer2">@Офицер II приоритета</span></h3>
                                    <ol>
                                        <li>Сдать экзамен по LVL 2</li>
                                        <li>Сдать практическое задание по <b>трафик-стопу (10-55)</b> и <b>Порядок Задержания</b></li>
                                        <li>Заполнить отчёт на повышение</li>
                                    </ol>
                                    <h3 class="has-text-centered">Повышение с <span class="officer2">@Офицер II приоритета</span> до <span class="officer3">@Офицер III приоритета</span></h3>
                                    <ol>
                                        <li>Сдать экзамен по LVL 3</li>
                                        <li>Сдать практическое задание:
                                            <ol>
                                                <li>1 Час патруля</li>
                                                <li>2 Задержания</li>
                                                <li>5 Штрафов</li>
                                            </ol>
                                            P.S. Задание выполнятеся вместе и под присмотром сотрудника BCSD порядкового звания Офицер III ивыше.
                                        </li>
                                        <li>Сдать присягу</li>
                                        <li>Сдать выпускной экзамен под присмотром сотрудника <span class="sherriff-academy">@Sheriff Academy</span></li>
                                    </ol>
                                    <br>
                                    <h4>После получения Офицера III Вы попадаете на выпускную церемонию - откуда попадете в:</h4>
                                    <ol>
                                        <li><span class="sherriff-academy">@Sheriff Academy</span></li>
                                        <li><span class="patrol-division">@Patrol Division</span></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <section class="tab-content">
            <div class="container">
                <section class="articles">
                    <div class="column is-8 is-offset-2">
                        <div class="card article">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content has-text-centered">
                                        <p class="title article-title">1 Уровень</p>
                                    </div>
                                </div>
                                <div class="content article-body">
                                    <h1 class="has-text-centered">Лекция №1 по теме: Строевой устав.</h1>
                                    <p>И так начнём нашу лекцию, как вы знаете в строю существуют определённые правила, которые нужно соблюдать.</p>
                                    <p><b>Какие же правила нужно соблюдать?</b></p>
                                    <ul>
                                        <li>Вам запрещено выкрикивать, разговаривать, танцевать.</li>
                                        <li>Использовать какие-либо анимаций и отыгровки.</li>
                                        <li>А так же выходить из строя.</li>
                                    </ul>
                                    <h5 class="subtitle"><b>Если вы не будете соблюдать данные правила, то последует наказание, данные правила очень просты и не стоит их нарушать.</b></h5>
                                    <p><b>Теперь давайте перейдём к так называемым строевым приёмам:</b></p>
                                    <ul>
                                        <li>По команде "Ровняйсь"строй поворачивает голову направо, кроме перво стоящего человека.</li>
                                        <li>По команде "Смирно" строй держит голову прямо.</li>
                                        <li>По команде "Вольно" вы должны встать свободно, ослабить в колене левую ногу.</li>
                                    </ul>
                                    <p><b>Перейдём к расчёту по номерам:</b></p>
                                    <ul>
                                        <li>Существует расчет по порядку номеров. (первый, второй, третий, четвертый и т.д.)</li>
                                        <li>Последний солдат в строю после расчета по порядку номеров должен сказать «Расчет окончен».</li>
                                        <li>Существует расчет солдат на определенные числа. (первый-второй, первый-второй-третий.)</li>
                                        <li>В данном случае сотрудники рассчитываются так: первый, второй, первый, второй или первый, второй, третий, первый, второй, третий и т.д.</li>
                                        <li>При расчете на определенные числа «Расчет окончен» говорить не нужно.</li>
                                    </ul>
                                    <p><b>Как же вы должны передвигаться в строю?</b></p>
                                    <p>Все движения в строю, происходят по каким либо командам, давайте познакомимся одними из них.</p>
                                    <ul>
                                        <li>Движение по команде "Шагом/Бегом Марш".</li>
                                        <li>По команде "На месте стой" вы должны остановиться.</li>
                                    </ul>
                                    <p><b>Как же происходят обращения из строя?</b></p>
                                    <ul>
                                        <li>Для того чтобы обратиться из строя, вам требуется всего лишь сказать: Разрешите обратиться из строя, обращается "Ваше звание" "Ваша Фамилия или позывной", после чего вам отвечают разрешаю, делаете шаг из строя и говорите своё обращение, затем говорите: Разрешите встать в строй? Вам отвечают: Разрешаю, и встаёте обратно.</li>
                                    </ul>
                                    <br>
                                    <h1 class="has-text-centered">Лекция №2 по теме: Устав BCSD.</h1>
                                    <p>Давайте же разберёмся с основами нашего устава.</p>
                                    <p><b>Как же вы должны передвигаться в строю?</b></p>
                                    <p>Что же такое вообще устав?</p>
                                    <ul>
                                        <li>Устав- это свод правил, регулирующих порядок деятельности организаций.
                                            Вот мы и ответили на данный вопрос.
                                            Устав, регулирует внутренние правила BCSD, все сотрудники данной организаций, должны его соблюдать, за нарушения устава, так же последуют наказания.</li>
                                    </ul>

                                    <p><b>Существует Департамент управления Шерифа, в который входят Шериф и его заместители.</b></p>
                                    <ul>
                                        <li>Существует Департамент управления Шерифа, в который входят Шериф и его заместители.</li>
                                        <li>Старший состав, в него входят начальники отделов и их заместители.</li>
                                        <li>Младший состав, в него входят рядовой состав, младший офицерский состав, офицерский состав.</li>
                                    </ul>

                                    <p><b>Давайте расскажу вам обязанности сотрудника департамента:</b></p>
                                    <ul>
                                        <li>Соблюдать устав и законы Штата.</li>
                                        <li>Выполнять приказы старшего состава, если они не противоречат здравому смыслу.</li>
                                        <li>Соблюдать субординацию и правила этики.</li>
                                        <li>Уважительно ко всем гражданам штата.</li>
                                        <li>Обеспечивать безопасность гражданам.</li>
                                        <li>Вы обязаны иметь при себе жетон, при исполнений своих служебных обязанностей, без него нельзя заступать на службу.</li>
                                    </ul>

                                    <p><b>Теперь давайте перейдём, что запрещено сотрудникам:</b></p>
                                    <ul>
                                        <li>Открывать огонь по мирным людям.</li>
                                        <li>Пользоваться наручниками без причины.</li>
                                        <li>Посещать б.у, гонки, страйкбол, тир.</li>
                                        <li>Брать служебный транспорт, не предназначенный для вашего звания.</li>
                                        <li>Материться, кричать и вести себя не соответствуя нормам этики.</li>
                                        <li>Запрещено так же нарушать законодательство Штата.</li>
                                        <li>Отпускать задержанных без причины.</li>
                                    </ul>

                                    <p><b>Давайте разберёмся со скольки до скольки длится рабочий день в департаменте.</b></p>
                                    <ul>
                                        <li>Дневная смена длится с 08:00 до 20:00.</li>
                                        <li>Ночная смена длится с 20:00 до 08:00.</li>
                                        <li>В случае если вас вызовут после окончания рабочей смены, вы обязаны явится в Департамент.</li>
                                    </ul>
                                    <h5 class="subtitle"><b>Давайте перейдём к 2 заключительным основным темам, юрисдикциям, и отделам которые существуют в Департаменте.</b></h5>
                                    <p><b>Начнём с отделов:</b></p>
                                    <ul>
                                        <li>Patrol Division - Основной отдел BCSD, занимающейся патрулированием округа Blaine.</li>
                                        <li>Sheriff Academy - отдел, прямыми обязанностями которого являются проведение обучающих мероприятий, экзаменов, собеседований.</li>
                                        <li>Inspection Department Sheriff's - отдел, занимающейся внутренней инспекцией BCSD, состоящий из высококвалифицированных сотрудников.</li>
                                        <li>Sheriff`s Department Detectives - отдел, занимающийся расследованиями по округу Блейн, раскрытием криминальных группировок, улавливанием нелегальных предпринимателей, допрашивают подозреваемых.</li>
                                        <li>Special Services Group - является элитным, секретным подразделением специального назначения, выполняющее особые задачи повышенной сложности, на территории Штата. Данное подразделение имеет определенный уровень секретности внутри силовых организаций.</li>
                                    </ul>

                                    <p><b>Мы познакомились с отделами Департамента Шерифа, давайте перейдём к юрисдикций на которой осуществляется наша деятельность.</b></p>
                                    <ul>
                                        <li>Наша юрисдикция, осуществляется на округе Blaine County, мы не можем ездить на юрисдикцию Los-Santos, если на то нет причины: Погоня, оказание помощи сотрудникам LSPD&FIB, договор между LSPD&BCSD, поставки.</li>
                                    </ul>
                                    <div class="featured-image">
                                        <img src="https://cdn.discordapp.com/attachments/1005983306191482950/1006596434268786849/unknown.png" alt="County map">
                                    </div>
                                    <h1 class="has-text-centered">Лекция №3 по теме: Административный Кодекс.</h1>
                                    <p><b>И так, давайте начинать, что же такое Административный Кодекс?</b></p>
                                    <ul>
                                        <li>Административный кодекс - нормативный акт, регулирующий общественные отношения по привлечению к административной ответственности.</li>
                                    </ul>
                                    <p><b>А теперь, когда мы ответили на данный вопрос, перейдём к следующему, чем же отличаются Административные правонарушения от преступлений?</b></p>
                                    <ul>
                                        <li>Административные правонарушения отличаются от преступлений тем, что их совершение не наносит существенного вреда обществу, они не обладают признаком общественной опасности в том смысле, который вкладывается в это понятие уголовным законодательством. Некоторые деяния могут признаваться как правонарушением, так и преступлением в зависимости от степени причинённого вреда или других обстоятельств.</li>
                                    </ul>
                                    <p><b>Давайте разберёмся какие статьи, существуют в данном Кодексе.</b></p>
                                    <p><b>Статья 1: </b>Осуществление профессиональной деятельности без наличия соответствующей лицензии на ведение данной деятельности – влечет за собой наложение административного штрафа в размере от 10.000$ США.</p>
                                    <p><b>Статья 2: </b>Незаконное повреждение культурных и религиозных зданий — влечет за собой наложение административного штрафа в размере 7.000$ США.</p>
                                    <p><b>Статья 3: </b>Употребление алкоголя в общественных местах — влечет за собой наложение административного штрафа в размере 900$ США.</p>
                                    <p><b>Статья 4: </b>Появление в общественных местах в алкогольном опьянении — влечет за собой наложение административного штрафа в размере 900$ США.</p>
                                    <p><b>Статья 5: </b>Умышленное нанесение повреждений чужому имуществу, если эти действия не понесли значительного ущерба — влечет за собой наложение административного штрафа в размере 1.200$ США.</p>
                                    <p><b>Статья 6: </b>Незаконное собирание, хранение, использование и распространение конфиденциальной информации о любом лице — влечет за собой наложение административного штрафа в размере от 7.500$ США.</p>
                                    <p><b>Статья 7: </b>Умышленное воспрепятствование законной профессиональной деятельности журналистов - влечет за собой наложение административного штрафа в размере 1.500$ США.</p>
                                    <p><b>Статья 8: </b>Оскорбление чести, достоинства или деловой репутации гражданских лиц — влечет за собой наложение административного штрафа в размере от 750$ США.</p>
                                    <p><b>Статья 9: </b> имеет 2 подпункта, а именно:</p>
                                    <ul>
                                        <li><b>9.1. </b>Использование макияжа или грима, скрывающих минимум 50% лица, ношение масок, влечет за собой наложение штрафа в размере от 3 000$ до 10 000$.</li>
                                        <li><b>9.2. </b>Те же деяния, совершенные после предупреждения и дальнейшего наложения на них штрафа. - 1 уровень розыска.</li>
                                    </ul>
                                    <p><b>Статья 10: </b>Хулиганство - нарушение общественного порядка, выражающее явное неуважение к обществу, провокациями на конфликт – штраф 10.000$.</p>
                                    <p><b>Статья 11: </b>Непристойный внешний вид в здании или на территории государственных учреждений, то есть, нахождение каких-либо лиц на данных территориях, находящихся только в элементах одежды, таких как: Нижнее бельё, купальники, или имеющие элементы одежды с полностью открытым голым торсом – Штраф 5.000$.</p>
                                    <p><b>Статья 12: </b>Осуществление профессиональной деятельности без наличия соответствующей лицензии на ведение данной деятельности – влечет за собой наложение административного штрафа в размере от 10.000$ США.</p>
                                    <p><b>Статья 13: </b>Превышение должностных полномочий, то есть совершение должностным лицом действий, явно выходящих за пределы его полномочий и повлекших существенное нарушение прав и законных интересов граждан или организаций. - 10 000$.</p>
                                    <p><b>Статья 14: </b>Халатность, то есть неисполнение или ненадлежащее исполнение должностным лицом своих обязанностей вследствие недобросовестного или небрежного отношения к службе либо обязанностей по должности - 10 000$.</p>
                                    <p><b>Статья 15: </b>Отказ от предъявления документов или же их отсутствие. - 10 000$.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <section class="tab-content">
            <div class="container">
                <div class="articles">
                    <div class="column is-8 is-offset-2">
                        <div class="card article">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content has-text-centered">
                                        <p class="title article-title">2 Уровень</p>
                                    </div>
                                </div>
                                <div class="content article-body">
                                    <h1 class="has-text-centered">Лекция №4 по теме: Дорожный Кодекс.</h1>
                                    <p><b>Давайте, начнём с обязанностей водителя:</b></p>
                                    <p>Здесь всё просто, водитель не должен нарушать Дорожный Кодекс и законы штата.</p>
                                    <p><b>За нарушения Дорожного кодекса, существуют наказания, но какие же?</b></p>
                                    <p><b>За таковые нарушения последует штраф, в каком же количестве? И за какие статьи и причины, можно выдать этот штраф.</b></p>
                                    <p><b>Давайте рассмотрим основные статьи Дорожного Кодекса.</b></p>
                                    <p><b>Статья 1.1 Д.К.: </b>Езда без номеров, штраф 10.000$.</p>
                                    <p><b>Статья 2 Д.К.: </b>Неостановка по требованию сотрудника полиции, штраф 10.000$.</p>
                                    <p><b>Статья 12 Д.К.: </b>Опасное вождение, штраф до 10.000$.</p>
                                    <p><b>Статья 29 Д.К.: </b>Езда по встречке на дороге с двухсторонним движением.- штраф до 10.000$</p>
                                    <p><b>Статья 36 Д.К.: </b>Обгон в запрещённых для этого ситуациях, штраф до 7.000$.</p>
                                    <p><b>Статья 40 Д.К.: </b>Остановка в неположенном месте, штраф до 3.000$.</p>
                                    <p><b>Статья 46 Д.К.: </b>Пересечение двойной сплошной, штраф до 5.000$.</p>
                                    <p><b>Статья 47 Д.К.: </b>Пересечение одиночной сплошной, штраф до 8.000$.</p>
                                    <br>
                                    <h1 class="has-text-centered">Лекция №5 по теме: Тен-коды.</h1>
                                    <p><b>Для чего используются тен-коды, в нашем Департаменте и не только?</b></p>
                                    <p>Для более быстрого ответа в экстренных ситуациях и не только.</p>
                                    <p><b>Какие же имеются основные тен-коды, которые вы обязаны знать, давайте я вам их и расскажу.</b></p>
                                    <p><b>CODE 0: </b>Офицер убит или ранен.</p>
                                    <p><b>CODE 7: </b>Запрос на убытие со службы.</p>
                                    <p><b>10-4: </b>Принято.</p>
                                    <p><b>10-5: </b>Занят.</p>
                                    <p><b>1-1: </b>На связь.</p>
                                    <p><b>1-2: </b>На связи.</p>
                                    <p><b>10-10: </b>Вызов адвоката.</p>
                                    <p><b>10-33: </b>Необходима транспортировка.</p>
                                    <p><b>10-0: </b>Отмена.</p>
                                    <p><b>10-7: </b>Конец связи.</p>
                                    <p><b>10-20: </b>Местоположение.</p>
                                    <p><b>10-77: </b>Начало патруля.</p>
                                    <p><b>10-77S: </b>Окончание патруля.</p>
                                    <p><b>3-1: </b>Ситуация в патруле стабильна.</p>
                                    <p><b>3-2: </b>Ситуация в патруле напряжена.</p>
                                    <p><b>3-3: </b>Ситуация в патруле критическая. Нужна помощь (с указанием 10-20).</p>
                                    <p><b>3-4: </b>Критическая ситуация урегулирована.</p>
                                    <p><b>9-11: </b>Необходима транспортировка задержанного.</p>
                                    <p><b>Вот основные тен-коды, которые вы должны знать, для хорошей службы и быстрого общения и на этом наша небольшая лекция, закончилась.</b></p>
                                    <br>
                                    <h1 class="has-text-centered">Лекция №6 по теме: Правила использования рации.</h1>
                                    <p><b>Начнём, нашу лекцию, как осуществляется инфо обмен между сотрудниками?</b></p>
                                    <ul>
                                        <li>Инфо обмен осуществляется между сотрудниками BCSD по специальным каналам связи организации и департамента, которые доступны только им и не может быть передан в руки иных лиц и злоумышленников.
                                            В рации вы не можете кричать, нести ерунду и в целом говорить не по темам, за это вы получите наказание.
                                            Вы должны говорить всю информацию без каких либо орфографических ошибок и с правильно поставленной речью.</li>
                                    </ul>
                                    <p><b>Как же осуществляются разные просьбы и вызовы в рации:
                                        </b></p>
                                    <p><b>Примеры вызова сотрудника через текстовый пейджер организации:</b></p>
                                    <ol>
                                        <li>Запрос:  /o [UnderSheriff] to A.Kiselev l 1-1...</li>
                                        <li>Ответ:  /o [Sheriff] to M.Ellarium | 1-2...</li>
                                    </ol>
                                    <p><b>Передача информации по текстовому пейджеру (после вызова на связь):</b></p>
                                    <ol>
                                        <li>/o [UnderSheriff] to A.Kiselev | Вас спрашивали сотрудники WN. 10-20 Департамент Шерифа.</li>
                                        <li>Ответ: /o [Sheriff] to M.Ellarium | 10-4. Через 5 минут буду.</li>
                                    </ol>
                                    <p><b>Окончание разговора и конец связи:</b></p>
                                    <ol>
                                        <li>/o [UnderSheriff] to A.Kiselev | 10-4, 10-7.</li>
                                    </ol>
                                    <p><b>Обращение ко всем:</b></p>
                                    <ul>
                                        <li>/o [ПОДРАЗДЕЛЕНИЕ] to ALL l Строй на парковке</li>
                                        <li>/o [ПОДРАЗДЕЛЕНИЕ] to PD l На связь..</li>
                                        <li>/o [ПОДРАЗДЕЛЕНИЕ] to PD&SA l На связь...</li>
                                        <li>/o [ПОДРАЗДЕЛЕНИЕ] to PD&SA l Строй на парковке..</li>
                                    </ul>
                                    <p><b>Пример в рацию департамента:</b></p>
                                    <ul>
                                        <li>Запрос: /d to ARMY | На связь… </li>
                                        <li>Запрос: /d to FIB | На связь… </li>
                                        <li>Запрос: /d to WN  | На связь… </li>
                                        <li>Запрос: /d to LSMC | На связь… (городская больница)</li>
                                        <li>Запрос: /d to SSMC | На связь… (больница Сенди Шорс)</li>
                                        <li>Ответ: to FIB | на связи…</li>
                                    </ul>
                                    <p><b>Передача информации:</b></p>
                                    <ol>
                                        <li>/d to FIB | есть информация о Вашем сотруднике, прошу встречи</li>
                                        <li>Ответ: to BCSD | 10-4, 10-7.</li>
                                    </ol>
                                    <ul>
                                        <li>После получения сообщения, Вы обязаны сообщить о том, что информацию вы поняли и приняли или же не поняли и требуете объяснения.</li>
                                    </ul>
                                    <p><b>Варианты ответов:</b></p>
                                    <ul>
                                        <li>10-4 понял/принято</li>
                                        <li>10-4 10-7 принято, конец связи/ожидайте</li>
                                        <li>10-43/10-55 запрос уточнения (10-43 при ответа Армии)</li>
                                        <li>10-8/10-5 – Занят !Причина! (10-5 для ответа Армии)</li>
                                        <li>10-0 отмена</li>
                                    </ul>
                                    <p>Радиообмен завершает человек, который его начал независимо от звания и должности.</p>
                                    <p>При запросе вас в рацию вы обязаны отвечать по следующей форме:</p>
                                    <ul>
                                        <li>Сержант Scott" - /о [Подразделение] | 1-2.</li>
                                    </ul>
                                    <p>По рации запрещается флуд/оффтоп и ООС информация.</p>
                                    <br>
                                    <h1 class="has-text-centered">Лекция №7 по теме: Трафик стоп и порядок задержания.</h1>
                                    <p><b>И так, трафик стоп, он же 10-55, как же его нужно проводить, каков его порядок?</b></p>
                                    <ol>
                                        <li>Вы должны включить спец.сигнал и потребовать в мегафон остановки Т/С, и прижаться к обочине.</li>
                                        <li>Потребовать заглушить двигатель и держать руки на руле.</li>
                                        <li>После чего вы выходите из машины, проводите рукой (Без перчатки) по фаре подозреваемого.</li>
                                        <li>Представляетесь, просите выйти из Т/C.</li>
                                        <li>Говорите статью, за которую он был остановлен, просите его документы.</li>
                                        <li>Проверяете документы, пробиваете номер по базе данных, и выписываете бланк со штрафом.</li>
                                        <li>После чего желаем водителю счастливого пути.</li>
                                    </ol>
                                    <p><b>Теперь перейдем к порядку задержания гражданского лица:</b></p>
                                    <ol>
                                        <li>Вы надеваете наручники на гражданина нарушевшего закон.</li>
                                        <li>Показываете гражданину свой жетон.</li>
                                        <li>Говорите статью и её формулировку.</li>
                                        <li>Зачитываете права Миранды.</li>
                                        <li>Спрашиваете в каком кармане у гражданина документы, проверяете документы.</li>
                                        <li>Проводите первичный обыск на запрещённые предметы.</li>
                                        <li>После чего садите в патрульный автомобиль и везёте в Департамент.</li>
                                        <li>Там вы проводите вторичный обыск, спрашиваете требуется ли ему телефоный звонок или адвокат.</li>
                                        <li>Допрашиваете (Вызываете сотрудников SDD).</li>
                                        <li>Садите в КПЗ.</li>
                                        <li>Сдаёте конфискат (Если есть).</li>
                                    </ol>
                                    <p><b>В случае задержания не гражданских лиц(сотрудников и т.д.) - Ознакомьтесь с информацией и порядком на портале штата.</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tab-content">
            <div class="container">
                <div class="articles">
                    <div class="column is-8 is-offset-2">
                        <div class="card article">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content has-text-centered">
                                        <p class="title article-title">3 Уровень</p>
                                    </div>
                                </div>
                                <div class="content article-body">
                                    <h1 class="has-text-centered">Лекция №8 по теме: Уголовно-Процессуальный Кодекс.</h1>
                                    <p><b>Что такое Процессуальный кодекс? </b></p>
                                    <p>Кодифицированный нормативный правовой акт, устанавливающий процессуальный порядок последовательности действий, правил рассмотрения, разрешения гражданских и уголовных дел сотрудниками правоохранительных органов и судами в штате San-Andreas.
                                        Задачами Процессуального Кодекса являются правильное и своевременное рассмотрение и разрешение гражданских и уголовных дел в целях защиты нарушенных или оспариваемых прав, свобод и законных интересов граждан, организаций, прав и интересов штата San Andreas, других лиц, являющихся субъектами гражданских, уголовных или иных правоотношений. Процессуальный Кодекс должен способствовать укреплению законности и правопорядка, предупреждению правонарушений, формированию уважительного отношения к закону и суду, мирному урегулированию споров.</p>
                                    <p><b>Какие же принципы Процессуального Кодекса?</b></p>
                                    <p><b>1. Уголовное судопроизводство:</b></p>
                                    <ul>
                                        <li>Защита прав и законных интересов лиц и организаций, потерпевших преступление.</li>
                                        <li>Защиты личности от незаконного и необоснованного обвинения, осуждения, ограничения ее прав и свобод.</li>
                                    </ul>
                                    <p><b>2. Равенство всех перед законом и судом.</b></p>
                                    <ul>
                                        <li>Правосудие по гражданским, уголовным и иным делам осуществляется на началах равенства перед законом и судом всех граждан независимо от пола, расы, национальности, языка, происхождения.</li>
                                        <li>Обратная сила уголовного закона.</li>
                                        <li>Вновь введённые в уголовное законодательство изменения, устраняющий преступность деяния, смягчающий наказание или иным образом улучшающий положение лица, совершившего преступление, имеет обратную силу, то есть распространяется на лиц, совершивших соответствующие деяния до вступления такого закона в силу, в том числе на лиц, отбывающих наказание или отбывших наказание, но имеющих судимость. Уголовный закон, устанавливающий преступность деяния, усиливающий наказание или иным образом ухудшающий положение лица, обратной силы не имеет.</li>
                                    </ul>
                                    <p><b>3. Равноправие сторон.</b></p>
                                    <ul>
                                        <li>Правосудие осуществляется на основе состязательности и равноправия сторон.</li>
                                    </ul>
                                    <p><b>4. Презумпция невиновности.</b></p>
                                    <ul>
                                        <li>Подозреваемый или обвиняемый не обязан доказывать свою невиновность. Бремя доказывания обвинения и опровержения доводов, приводимых в защиту подозреваемого или обвиняемого, лежит на стороне обвинения.</li>
                                        <li>Все сомнения о виновности обвиняемого, которые не могут быть устранены в порядке, установленном настоящим Кодексом, толкуются в пользу обвиняемого.c</li>
                                        <li>Обвинительный приговор не может быть основан на предположениях.</li>
                                    </ul>
                                    <p><b>5. Обязанность доказывания.</b></p>
                                    <ul>
                                        <li>Каждая сторона должна доказать те обстоятельства, на которые она ссылается, как на основания своих требований и возражений, если иное не предусмотрено законом.</li>
                                        <li>В случае необходимости, суд определяет, какие обстоятельства имеют значение для дела, какой стороне надлежит их доказывать.</li>
                                        <li>Неоспоримыми доказательствами виновности или невиновности гражданина Штата Сан-Андреас является запись Боди-Камеры сотрудников государственных структур или записи мобильных телефонов обвиняемого, потерпевшего, свидетеля(ей) в момент совершения преступления.</li>
                                        <li>Сотрудники всех правоохранительных структур Штата, и US Army обязаны предоставлять записи со своих Боди-Камер зафиксировавшее само преступление.</li>
                                    </ul>
                                    <p><b>6. Недопустимые доказательства.</b></p>
                                    <ul>
                                        <li>Улики, которые были добыты незаконным путем.</li>
                                    </ul>
                                    <p><b>К недопустимым доказательствам относятся:</b></p>
                                    <ul>
                                        <li>Показания потерпевшего, свидетеля, основанные на догадке, предположении, слухе.</li>
                                        <li>Улики, добытые незаконным путем.</li>
                                        <li>Обрезанные или неполные фрагменты видео фиксации.</li>
                                        <li>Отсутствие на видеозаписи со стороны обвинения команды включения видеокамеры.</li>
                                    </ul>
                                    <br>

                                    <h1 class="has-text-centered">Лекция №9 по теме: Уголовный Кодекс.</h1>
                                    <p><b>Начнём нашу лекцию, какие задачи у Уголовного Кодекса?</b></p>
                                    <p>Задачами настоящего Кодекса являются: охрана прав и свобод человека и гражданина, собственности, общественного порядка и общественной безопасности, окружающей среды, конституционного строя Соединённых Штатов Америки от преступных посягательств, обеспечение мира и безопасности человечества, а также предупреждение преступлений.</p>
                                    <p><b>Давайте познакмоимся с основными статьями Уголовного Кодекса.</b></p>
                                    <p><b>Статья 1.1-1.4: </b>Нанесение каких-либо телесных повреждений.</p>
                                    <p><b>Статья 1.5: </b>Убийство.</p>
                                    <p><b>Статья 1.8: </b>Убийство по неосторожности.</p>
                                    <p><b>Статья 1.9: </b>Угрозы расправой гражданскому лицу.</p>
                                    <p><b>Статья 1.10: </b>Угрозы расправой должностному лицу.</p>
                                    <p><b>Статья 2.1: </b>Похищение человека.</p>
                                    <p><b>Статья 4.5: </b>Грабёж.</p>
                                    <p><b>Статья 4.7: </b>Угон Т/С.</p>
                                    <p><b>Статья 6.5: </b>Причастность к группировкам.</p>
                                    <p><b>Статья 6.7: </b>Проникновение на охраняемую территорию.</p>
                                    <p><b>Статья 6.8: </b>Хранение/Сбыт/Продажа/Покупка нелегального оружия, или же те же действия без лицензии.</p>
                                    <p><b>Статья 7.1; 7.2; 7.3: </b>Нарко до 10 грамм ; более 10 грамм ; Сбыт Нарко</p>
                                    <p><b>Статья 11.1: </b>Посягательство на жизнь сотрудника.</p>
                                    <p><b>Статья 11.3: </b>Оскорбление сотрудника при исполнение.</p>
                                    <p><b>Статья 11.4: </b>Подделка документов.</p>
                                    <p><b>Статья 11.6: </b>Невыполнение законных требований гос. Служащего.</p>
                                    <p><b>Статья 11.8: </b>Многократные оскорбления при сотруднике.</p>
                                    <br>
                                    <h1 class="has-text-centered">Лекция №10 по теме: Закон о полиций.</h1>
                                    <p><b>Начнём нашу лекцию, для чего предназначена наша полиция: </b></p>
                                    <ul>
                                        <li>Она предназначена для защиты жизни, здоровья и свобод граждан.
                                            Мы действуем в пределах своей юрисдикции, о которой вы могли узнать из наших прошлых лекций.
                                            Нарушать её нельзя, без на то следственных причин.
                                            Полиция подчиняется Губернатору, Вице-Губернатору и Генеральному прокурору.</li>
                                    </ul>
                                    <p><b>Какие же направления деятельности полиции Штата?</b></p>
                                    <ul>
                                        <li>Защита личности, общества, государства от противоправных посягательств.</li>
                                        <li>Предупреждение и пресечение преступлений и правонарушений.</li>
                                        <li>Выявление и раскрытие преступлений, производство дознания по уголовным делам.</li>
                                        <li>Соблюдение правил дорожного движения и обеспечение безопасности на дороге граждан.</li>
                                        <li>Государственная защита потерпевших, свидетелей и иных участников судопроизводства, судей, прокуроров, должностных лиц правоохранительных и контролирующих органов, а также других защищаемых лиц.</li>
                                        <li>Осуществление экспертно-криминалистической деятельности.</li>
                                        <li>Предотвращение незаконного оборота оружия, психотропных и наркотических веществ в Штате.</li>
                                        <li>Так же вы должны общаться с гражданами руководствуясь, этическим кодексом, если вы не будете соблюдать данные правила, вы понесёте наказание.</li>
                                        <li>Вы должны обеспечивать безопаcность жителям штата.</li>
                                        <li>Оказывать первую помощь, пострадавшим.</li>
                                        <li>Осуществлять розыскную деятельность.</li>
                                        <li>Подавлять терроризм.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tab-content">
            <div class="container">
                <div class="articles">
                    <div class="column is-8 is-offset-2">
                        <div class="card article">
                            <div class="card-content">
                                <h1 class="has-text-centered">Законодательная База</h1>
                                <br>
                                <ul class="links">
                                    <li><a target="_blank" href="https://forum.rgta5.ru/index.php?threads/%D0%97%D0%B0%D0%BA%D0%BE%D0%BD-%D0%BE-%D0%BF%D0%BE%D0%BB%D0%B8%D1%86%D0%B8%D0%B8-%D1%88%D1%82%D0%B0%D1%82%D0%B0-%D0%A1%D0%90%D0%9D-%D0%90%D0%9D%D0%94%D0%A0%D0%95%D0%90%D0%A1.19960/">Закон о полиции штата</a></li>
                                    <li><a target="_blank"  href="https://forum.rgta5.ru/index.php?threads/%D0%AD%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9-%D0%BA%D0%BE%D0%B4%D0%B5%D0%BA%D1%81-%D1%88%D1%82%D0%B0%D1%82%D0%B0-san-andreas.19946/">Этический кодекс</a></li>
                                    <li><a target="_blank"  href="https://forum.rgta5.ru/index.php?threads/%D0%A3%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BD%D1%8B%D0%B9-%D0%9A%D0%BE%D0%B4%D0%B5%D0%BA%D1%81-%D1%88%D1%82%D0%B0%D1%82%D0%B0-san-andreas.19938/">Уголовный кодекс</a></li>
                                    <li><a target="_blank"  href="https://forum.rgta5.ru/index.php?threads/%D0%97%D0%B0%D0%BA%D0%BE%D0%BD-%D0%9E-%D0%BD%D0%B5%D0%BF%D1%80%D0%B8%D0%BA%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D1%81%D1%82%D0%B8-%D0%B3%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D1%85-%D1%81%D0%BB%D1%83%D0%B6%D0%B0%D1%89%D0%B8%D1%85.19958/">Закон о неприкосновенности гос. служащих</a></li>
                                    <li><a target="_blank"  href="https://forum.rgta5.ru/index.php?threads/%D0%97%D0%90%D0%9A%D0%9E%D0%9D-%C2%AB%D0%9E-%D0%92%D0%9E%D0%95%D0%9D%D0%9D%D0%9E%D0%9C-%D0%98-%D0%A7%D0%A0%D0%95%D0%97%D0%92%D0%AB%D0%A7%D0%90%D0%99%D0%9D%D0%9E%D0%9C-%D0%9F%D0%9E%D0%9B%D0%9E%D0%96%D0%95%D0%9D%D0%98%D0%98-%D0%A8%D0%A2%D0%90%D0%A2%D0%90-%D0%A1%D0%90%D0%9D-%D0%90%D0%9D%D0%94%D0%A0%D0%95%D0%90%D0%A1%C2%BB.37281/">Закон о ВП и ЧП</a></li>
                                    <li><a target="_blank"  href="https://forum.rgta5.ru/index.php?threads/%D0%94%D0%BE%D1%80%D0%BE%D0%B6%D0%BD%D1%8B%D0%B9-%D0%9A%D0%BE%D0%B4%D0%B5%D0%BA%D1%81-%D1%88%D1%82%D0%B0%D1%82%D0%B0-san-andreas.19948/">Дорожный кодекс</a></li>
                                    <li><a target="_blank"  href="https://forum.rgta5.ru/index.php?threads/%D0%A3%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BD%D0%BE-%D0%9F%D1%80%D0%BE%D1%86%D0%B5%D1%81%D1%81%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-%D0%BA%D0%BE%D0%B4%D0%B5%D0%BA%D1%81-%D1%88%D1%82%D0%B0%D1%82%D0%B0-san-andreas.19943/">Уголовно - Процессуальный кодекс</a></li>
                                    <li><a target="_blank"  href="https://forum.rgta5.ru/index.php?threads/%D0%90%D0%B4%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%B9-%D0%BA%D0%BE%D0%B4%D0%B5%D0%BA%D1%81-%D1%88%D1%82%D0%B0%D1%82%D0%B0-san-andreas.19942/">Административный кодекс</a></li>
                                    <li><a target="_blank"  href="https://forum.rgta5.ru/index.php?threads/%D0%97%D0%B0%D0%BA%D0%BE%D0%BD-%D0%BE%D0%B1-%D0%9E%D1%80%D1%83%D0%B6%D0%B8%D0%B8.19939/">Закон об Оружии</a></li>
                                    <li><a target="_blank"  href="https://forum.rgta5.ru/index.php?threads/%D0%9A%D0%BE%D0%BD%D1%81%D1%82%D0%B8%D1%82%D1%83%D1%86%D0%B8%D1%8F-%D0%A8%D1%82%D0%B0%D1%82%D0%B0-%D0%A1%D0%B0%D0%BD-%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B0%D1%81.19936/">Конституция штата</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="scripts/tabs.js"></script>
<%- include('partials/footer')  -%>