<%- include('partials/header') -%>
<div class="menu">
    <p class="menu-label">
        Administration
    </p>
    <ul class="menu-list">
        <li>
            <ul>
                <li><a href="/dashboard/users">Управлять пользователями</a></li>
                <li><a href="/dashboard/positions">Назначать округи</a></li>
                <% if (user.level >= 4) {%>
                <li><a href="/dashboard/logs">Логи</a></li>
                <% } %>
            </ul>
        </li>
    </ul>
</div>
<%- include('partials/footer') -%>