<%- include('partials/header')  -%>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
                <img src="/static/images/bcsd.png" width="480px" height="auto">
        </div>
    </div>
</section>
<section class="blog-posts">
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="columns featured-post is-multiline">
                    <div class="column is-12 post">
                        <article class="columns featured">
                            <div class="column is-7 post-img ">
                                <img src="/images/image4.jpg" alt="Article Image">
                            </div>
                            <div class="column is-5 featured-content va">
                                <div>
                                    <h3 class="heading post-category">Блата.нет</h3>
                                    <h1 class="title post-title">Что за дела?</h1>
                                    <p class="post-excerpt">Тот момент когда зам.Шерифа Снежа МакРэй нафармила состояние на конфискате.</p>
                                    <br>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <hr>
                <div class="columns is-multiline">
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="/images/image5.png" alt="Article Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Работяги</h3>
                                <h1 class="title post-title">Рук. состав в 4 часа ночи</h1>
                                <p class="post-excerpt">Руководящий состав BCSD в 4 часа утра, усердно работает на благо штата не покладая рук.</p>
                                <br>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-6">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="/images/image3.png" alt="Article Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Курица</h3>
                                <h1 class="title post-title">Шок контент</h1>
                                <p class="post-excerpt">!!!ШОК КОНТЕНТ!!!<br>Лидер BCSD оказывается не лидер а курица!<br>Только не говорите что я это написал :D</p>
                                <br>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="/images/image1.png" alt="Article Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Деваучки</h3>
                                <h1 class="title post-title">Посиделки девочек</h1>
                                <p class="post-excerpt">Тут мы можем наблюдать две особи женского пола, сидяшие на диванчике около Американского флага, мол они крутые.</p>
                                <br>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="/images/image2.png" alt="Article Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Ещё девчонка</h3>
                                <h1 class="title post-title">Вилка с новым мерсом</h1>
                                <p class="post-excerpt">На данном скрине мы можем наблюдать ещё одну особь женского пола стоящую около своего нового мерса. <br> P.S. Она типо крутая.</p>
                                <br>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Article Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Category Name</h3>
                                <h1 class="title post-title">В будущем...</h1>
                                <p class="post-excerpt">В будущем...</p>
                                <br>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer')  -%>