<%- include('partials/header')  -%>
<section class="blog-posts">
    <div class="container">
        <h1 class="has-text-centered title">Состав прокуратуры</h1>
        <hr>
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="columns featured-post is-multiline">
                    <div class="column is-12 post">
                        <article class="columns featured">
                            <div class="column is-7 post-img ">
                                <img src="/images/image1.png" alt="Article Image">
                            </div>
                            <div class="column is-5 featured-content va">
                                <div>
                                    <h3 class="heading post-category">Состав прокуратуры</h3>
                                    <h1 class="title post-title">Генеральный Прокурор</h1>
                                    <p class="post-excerpt">Генеральным Прокурором штата является John Rich. <br>
                                        <hr>
                                    <a href="https://vk.com/pyankoff_official">Электронная почта</a> <br>
                                    <span class="discord-contact">Спец. Связь:</span> John Rich#1432
                                    </p>
                                    <br>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <hr>
                <h1 class="has-text-centered title">Округ Los-Santos</h1>
                <div class="columns is-multiline">
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Article Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Округ Los-Santos</h3>
                                <h1 class="title post-title">John Rich</h1>
                                <p class="post-excerpt">Спец. Связь: John Rich#1432</p>
                                <br>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Article Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Округ Los-Santos</h3>
                                <h1 class="title post-title">John Rich</h1>
                                <p class="post-excerpt">Спец. Связь: John Rich#1432</p>
                                <br>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Article Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Округ Los-Santos</h3>
                                <h1 class="title post-title">John Rich</h1>
                                <p class="post-excerpt">Спец. Связь: John Rich#1432</p>
                                <br>
                            </div>
                        </article>
                    </div>
                </div>
                <hr>
                <h1 class="has-text-centered title">Округ Blaine County</h1>
                <article class="columns is-multiline">
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Article Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Округ Baline County</h3>
                                <h1 class="title post-title">John Rich</h1>
                                <p class="post-excerpt">Спец. Связь: John Rich#1432</p>
                                <br>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Article Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Округ Baline County</h3>
                                <h1 class="title post-title">John Rich</h1>
                                <p class="post-excerpt">Спец. Связь: John Rich#1432</p>
                                <br>
                            </div>
                        </article>
                    </div>
                    <div class="column post is-4">
                        <article class="columns is-multiline">
                            <div class="column is-12 post-img">
                                <img src="https://cdn.emk.dev/templates/post-img.png" alt="Article Image">
                            </div>
                            <div class="column is-12 featured-content ">
                                <h3 class="heading post-category">Округ Baline County</h3>
                                <h1 class="title post-title">John Rich</h1>
                                <p class="post-excerpt">Спец. Связь: John Rich#1432</p>
                                <br>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<%- include('partials/footer')  -%>