#order {
    background-color: #f0efee;
    padding: 15px;
    border-radius: 10px;
}

.image img {
    width: 100px !important;
    height: auto !important;
}

.danger {
    color: red;
    font-weight: 700;
}

.input-order {
    border: 3px gray solid;
    border-radius: 5px;
    padding: 5px;
}

.input-order:last-child {
    margin-left: 5px;
}

.post {
    border: 1px solid black;
}